<template name="footer">

    <!--<div class="footer">
        <div class="pull-right">
            <strong>Center For Computational Technologies.</strong>
        </div>
        <div>
            Copyright <strong>CCTech</strong> &copy; 2018
        </div>
    </div>-->

    <!--<div id="footer">
      <div class="container">
        <p class="muted credit">Center For Computational Technologies. <a href="http://cctech.co.in">CCTech</a> Copyright <strong>CCTech</strong> &copy; 2018</p>
      </div>
    </div>-->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Center For Computational Technologies. <a href="http://cctech.co.in">CCTech</a> <div class="pull-right">Copyright <strong >CCTech</strong> &copy; 2018</div></span>
      </div>
    </footer>

</template>