<template name="applyForLeave">
    <head>
  <title>Leave Application</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

      <form class="form-group">
        <h2 class="form-group">Please enter leave details</h2>
        <div class="row">
                <div class="col-sm-5">
                    <select name="LeaveType" id="leaveTypeOption" placeholder="Leave Type" class="form-control">
                                <option value="Casual" selected="">Casual Leave</option>
                                <option value="Sick" selected="">Sick Leave</option>
                    </select>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" id="leaveReason" placeholder="Reason" aria-label="...">
            </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" id="minDate" value="" placeholder="Start date (DD/MM/YYYY)">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" id="maxDate" value="" placeholder="End date (DD/MM/YYYY)">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="text" class="form-control" id="noOfDays" value="" placeholder="No of days">
            </div>
        </div>
        <button class="btn btn-large btn-primary" id="applyForLeaveBtn" type="submit">Apply</button>
      </form>

    </div>
    </body>
</template>