<template name="viewYourLeaves">
<h2 class="form-group">Your leave details</h2>
<div class="wrapper wrapper-content animated fadeInRight">
                        <div class="">
                            <table class="table table-hover" >
                                <tbody>
                                    {{#each DBDataList}} {{> leavedetails}} {{/each}}
                                </tbody>
                            </table>
        
                        </div>
</div>
</template>

<template name="leavedetails">
    <tr>
        <td class="project-title">
            <small><strong>Leave ID</strong> : {{leaveID}}</small>
         </td>
       <td class="project-title">
           <small><strong>Leave Type</strong> : {{leaveType}}</small>
        </td>
        <td class="project-title">
           <small><strong>From Date</strong> : {{fromTime}}</small>
        </td>
        <td class="project-title">
           <small><strong>To Date</strong> : {{toTime}}</small>
        </td>
        <td class="project-title">
           <small><strong>No Of Days</strong> : {{noOfDays}}</small>
        </td>
        <td class="project-title">
           <small><strong>Reason</strong> : {{leaveReason}}</small>           
       </td>
   </tr>
</template>